$main-wine:  rgb(97, 40, 40);
$main-gray: rgb(44, 41, 41);
$main-violet: rgb(225, 132, 255);
$main-green: rgb(92, 230, 173);
$main-gold: rgb(222, 184, 135);
$main-lightgray: rgb(206, 199, 172);
$main-white: rgb(255, 255, 255);
$main-beige: rgb(241, 232, 195);
